<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">Uplata test</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul *ngIf="menuItems" class="nav navbar-nav">
        <li *ngFor="let item of menuItems" routerLinkActive="active"><a [routerLink]="['page', item.id]">{{item.title}}</a></li>
        <li routerLinkActive="active"><a routerLink="category">Услуги</a></li>
      </ul>

      <app-popups></app-popups>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>