<div class="row">
  <div class="col-md-4">

    <ul *ngIf="categories" class="list-group">
      <li *ngFor="let item of categories" routerLinkActive="active" class="list-group-item">
        <a [routerLink]="[item.id]">{{item.title}}</a>
      </li>
    </ul>

  </div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>