<div *ngIf="category" class="row">
  <h2>{{category.title}}</h2>

  <div *ngFor="let item of category.services" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{item.title}}</h3>
        <p>{{item.body}}</p>
        <p><a [routerLink]="['service', item.id]" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
</div>