.overflow-pp {
    left:0;
    top:0;
    width:100%;
    height:100%;
    position:absolute;
    opacity: 1;
    display:none;
    z-index: 999;
}
.modal-pp {
    padding:20px;
    width:400px;
    height:auto;
    background:#fff;
    position:relative;
    left: 50%;
    top: 450%;
    border:solid 1px #000;
    transform: translate(-50%, -50%);
}
.header {
    background:#FFF;
}
.header h1 {
    text-align:center;
    padding:0;
    margin:0 0 20px;
    background:#FFF !important;
}
