<ul class="nav navbar-nav navbar-right">
  <li><a (click)="displayLogin=!displayLogin">Логин</a></li>
  <li><a (click)="displayRegister=!displayRegister">Регистрация</a></li>
</ul>

<div class="overflow-pp" [ngClass]="{'show': displayLogin}">
  <div class="modal-pp">
    <div class="header">
      <h1>Логин</h1>
    </div>
    <div class="form-group">

      <form (ngSubmit)="onLogin(form)" #form="ngForm">
        <div class="form-group has-feedback" [ngClass]="{'has-error': email.invalid && email.touched}">
          <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  ngModel
                  name="email"
                  email
                  required
                  #email="ngModel"
          >
          <span *ngIf="email.invalid && email.touched" class="help-block">Некорректный EMail</span>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback" [ngClass]="{'has-error': password.invalid && password.touched}">
          <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  ngModel
                  name="password"
                  required
                  #password="ngModel"
          >
          <span *ngIf="password.invalid && password.  touched" class="help-block">Некорректный пароль</span>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input
                        type="checkbox"
                        [(ngModel)]="rememberMe"
                        name="rememberMe"
                > Запомнить
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-block btn-flat">Вход</button>
            <button type="button" (click)="displayLogin=!displayLogin" class="btn btn-primary right">Закрыть</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
  </div>
</div>

<div class="overflow-pp" [ngClass]="{'show': displayRegister}">
  <div class="modal-pp">
    <div class="header">
      <h1>Регистрация</h1>
    </div>
    <div class="form-group">

      <form [formGroup]="signUpForm" (ngSubmit)="onRegister()">
        <div class="form-group has-feedback" [ngClass]="{'has-error': signUpForm.get('name').invalid && signUpForm.get('name').touched}">
          <input
                  type="text"
                  class="form-control"
                  placeholder="Имя"
                  formControlName="name"
          >
          <span *ngIf="signUpForm.get('name').invalid && signUpForm.get('name').touched" class="help-block">Некорректное имя</span>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback" [ngClass]="{'has-error': signUpForm.get('phoneNumber').invalid && signUpForm.get('phoneNumber').touched}">
          <input
                  type="text"
                  class="form-control"
                  placeholder="Телефон"
                  formControlName="phoneNumber"
          >
          <span *ngIf="signUpForm.get('phoneNumber').invalid && signUpForm.get('phoneNumber').touched" class="help-block">Некорректный телефон</span>
          <span class="glyphicon glyphicon-phone form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback" [ngClass]="{'has-error': (signUpForm.get('email').invalid && signUpForm.get('email').touched) || signUpForm.get('email').hasError('emailExists') || signUpForm.get('email').hasError('emailExistsError') }">
          <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  formControlName="email"
          >
          <span *ngIf="signUpForm.get('email').hasError('required') && signUpForm.get('email').touched" class="help-block">Email не может быть пустым</span>
          <span *ngIf="signUpForm.get('email').hasError('emailExists')" class="help-block">Этот Email занят</span>
          <span *ngIf="signUpForm.get('email').hasError('emailExistsError')" class="help-block">Ошиька проверки email.</span>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback" [ngClass]="{'has-error': signUpForm.get('password').invalid && signUpForm.get('password').touched}">
          <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  formControlName="password"
          >
          <span *ngIf="signUpForm.get('password').invalid && signUpForm.get('password').touched" class="help-block">Некорректный пароль</span>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback" [ngClass]="{'has-error': signUpForm.get('rePassword').invalid && signUpForm.get('rePassword').touched}">
          <input
                  type="password"
                  class="form-control"
                  placeholder="Retype password"
                  formControlName="rePassword"
          >
          <span *ngIf="signUpForm.get('rePassword').invalid && signUpForm.get('rePassword').touched" class="help-block">Пароли не совпадают</span>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input
                        type="checkbox"
                        formControlName="accept"
                > Принять <a href="#">условия</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="signUpForm.invalid || signUpForm.get('accept').value === false">Регистрация</button>
            <button type="button" (click)="displayRegister=!displayRegister" class="btn btn-primary right">Отмена</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    </div>
  </div>
</div>